@use '../abstracts/index' as *;


body {
  // font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 50px;
  color: #0a3126;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  // border: 2px red solid;

}
