@use '../abstracts/index' as *;

.cards-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  // border: 2px greenyellow solid;
  margin-bottom: 50px;
  @media only screen and (min-width: $break-m) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
  }
  @media only screen and (min-width: $break-xl) {
    flex-direction: row;
    // margin: 50px;
    // padding: 50px;
    max-width: initial;
    margin-right: initial;
    margin-left: initial;
}
}

.card-text {
  margin: 10px 0 50px 0;
  h1 {
    font-size: 20px;
  }
  p {
    margin: 30px 0 50px 0;
  }
  @media only screen and (min-width: $break-xxl) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    max-width: 50%;
    h1 {
      font-size: 40px;
    }
    p {
      margin-bottom: 47px;
      max-width: 90%;
      line-height: 25px;
    }
}
}

.card-text .hero-btn {
  display: flex;
  justify-content: center;
  @media only screen and (min-width: $break-m) {
    display: initial;
  }
}

.card-image {
  margin: 0px;
  border-radius: 10px;

  @media only screen and (min-width: $break-m) {
    margin: 0 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;

  }
  @media only screen and (min-width: $break-l) {
    margin: 50px;
  }
}

.card-image-3 {
  display: none;  
  @media only screen and (min-width: $break-xl) {
    display: block;
    background-image: url('../assets/images/emma.jpeg'); 
    background-position: right;
    height: 333px;
    width: 2600px;
    h2 {
      font-size: 17px;
      max-width: 125px;
    }

}
  @media only screen and (min-width: $break-xxl) {
    margin-left: -100px;
    width: 600px;
    max-width: none;
    h2 {
      font-size: 25px;
      max-width: 245px;
    }
}
}

.card-3 .card-image-small-screen {  
  margin: 0px;
  border-radius: 10px;

  @media only screen and (min-width: $break-xl) {
    display: none;
}
}

.image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0 20px 10px;
  @media only screen and (min-width: $break-xxl) {
    margin-left: 50px;
  }

  .hero-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 141px;
    font-size: 13px;
    @media only screen and (min-width: $break-xxl) {
      width: initial;
      font-size: initial;
    }
  }
}

.glassdoor-card {
  h1 {
    font-size: 20px;
    @media only screen and (min-width: $break-xxl) {
      font-size: 40px;
    }
  }
  // border: 1px red solid;
  text-align: center;
  #small-text {
    font-size: 11px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  @media only screen and (min-width: $break-xxl) {
  margin: 100px 0 0 100px;
}
}

.glassdoor-card img {
  width: 200px;
  height: 40px;
}

.glassdoor-btn {
  background-color: #28B457;
}

.cpo-image-container {
  display: none;
  @media only screen and (min-width: $break-s) {
    display: block;
    background-image: url('../assets/images/cpo.jpeg');
    background-position: center;
    border-radius: 10px;
    height: 333px;
    margin: 50px auto 50px auto;
    max-width: 600px;
    @media only screen and (min-width: $break-xl) {
      width: 600px;

    margin: 150px auto 150px auto;
}
}
}

.cpo-text {
  text-align: center;
  width: 300px;
  margin: 0px 0 0 20px;
  padding-top: 40px;
  @media only screen and (min-width: $break-xl) {

  text-align: center;
  width: 300px;
  margin: 0px 0 0 20px;
  padding-top: 40px;
}
}

.card-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;


  @media only screen and (min-width: $break-l) {
  flex-direction: row;
}
}

.card-link {
  box-shadow: 0 3px 35px rgb(0 0 0 / 12%);
  margin: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  h2 {
    margin-bottom: 25px;
    width: 166px;
}
  .hero-btn {
    min-width: 132px
  }
@media only screen and (min-width: $break-m) {
  h2 {
    width: 320px;
}  

}
  @media only screen and (min-width: $break-l) {
    width: 500px;
    font-size: initial;
}
}

.bottom-text {
  font-size: 15px;  
  margin-bottom: 60px;


  @media only screen and (min-width: $break-m) {
    font-size: initial;
  }
}

.footer-links {
  text-decoration: underline;
}

footer {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 15px;

}

.footer-text {
  font-size: 10px;
  @media only screen and (min-width: $break-m) {
    font-size: 15px;
  }
  @media only screen and (min-width: $break-xl) {
    font-size: initial;
  }

}

.footer-text-2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: gray;
}

.linkedin-style {
  background-color: #0073B1;
  color: white;
  padding: 2px;
  font-size: 25px !important;
  position: absolute;
  margin-left: 11px;
  @media only screen and (min-width: $break-s) {
    margin-left: 50px;
  }

}

.powered-by {
  margin-right: -11px;
  @media only screen and (min-width: $break-s) {
    margin-right: 0;
  }
}

.privacy-policy {
  margin-left: -11px;
  @media only screen and (min-width: $break-s) {
    margin-left: 0;
  }

}