@use '../abstracts/index' as *;


li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  @media only screen and (min-width: $break-xl) {
    margin: 2rem 3rem 0rem 3rem;
}
}

#logo {
  width: 120px;
  height: 50px;
}

#ul-header {
  display: none;
  @media only screen and (min-width: $break-l) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }
}

//I added an extra html for the header for small screens because the main one kept misplacing other elements. This one works only on small screens and change to display:none for bigger
#header-small {
  width: 102%;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background-color: rgba($brand-color, 0.8);
  position: absolute;
  top: 63px;
  right: 0;
  border-radius: 4px;
  display: none;
  z-index: 2;
  @media only screen and (min-width: $break-m) {
    display: none;
}
  @media screen and (-ms-high-contrast: none) {
    text-align: right;
}
}

//Some styling that could not go in the #header-small
#header-small ul {
  list-style-type: none;
  text-align: end;
  padding-right: 10px;
}

//Separating the li elements on small screen (the drop down)
.li-header-small {
  line-height: 45px;
}
//Hamburger styling
.btn-menu-xs {
  background-color: $brand-color;
  height: 55px;
  width: 65px;
  border-radius: 4px;
  // float: right;
  // margin-top: -77px;
  // margin-right: 10px;
  @media only screen and (min-width: $break-l) {
    display: none;
}
}

.btn-menu-xs:hover {
	//background-color: darken($color: $brand-color-dark, $amount: 10%);
  // background-color: darken($color: #333a56, $amount: 10%);
  background-color: $brand-color;
  cursor: pointer;
}

// The next few properties are for the hamburger
.menu-lines {
  padding: 10px 0 4px 16px;
  @media only screen and (min-width: $break-l) {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 33px;
  margin: 10px auto 5px;
}
}

.menu-x {
  display: none;
  color: white;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 21px;
}

.menu-line {
  width: 33px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.menu-title {
  font-size: 12px;
  text-align: center;
  margin-top: -7px;
  color: white;
  font-weight: 600;
}


.li-header {
  margin: 10px;
  font-weight: 600;
}

.header-btn {
  display: none;
  @include btn;

  @media only screen and (min-width: $break-s) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (min-width: $break-xl) {


  }

}

.header-btn:hover {
  background-color: darken($color: $brand-color, $amount: 10);
}